profiles {
    conda {
        conda.enabled = true

        process {
            withName: 'fastp' {
                conda = "./envs/fastp.yml"
            }
            withName: 'skesa' {
                conda = "./envs/skesa.yml"
            }
            withName: 'seqkit' {
                conda = "./envs/seqkit.yml"
            }
        }
    }

    test {
        params.reads = [
            "${baseDir}/data/mini_R1.fastq.gz",
            "${baseDir}/data/mini_R2.fastq.gz"
        ]
    }
}
